.profile {
  /* Fonts */
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  position: absolute; /* Make Card Positioned in the same place at all times */
  top: 0;
  left: 0;
  /* bottom: 0; */
  right: 0;
  /* display: grid;
  align-items: space-evenly; */
}

.profile__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: 50px;
}

.profile__name {
  text-align: center;
  margin: 0;
}

.profile__description {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile__span-accent {
  display: block;
  color: rgb(62, 62, 221);
}

.profile__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__link-list {
  list-style-type: none;
  margin: 0 auto;
}

/* .profile__socials {
  margin-left: 90px;
}

.profile__socials-links {
  margin: 0;

  list-style-type: none;
}

.profile__socials-link-Instagram {
  width: 30px;
  height: 30px;
}
.profile__socials-link-git {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
 */
.profile__footer {
  background-color: dimgray;
  text-align: center;
}

.profile__footer-button {
  background-color: white;
  color: coral;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__image {
    width: 20px;
    height: 20px;
  }
}
